body {
  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

section {
  text-align: center;
  color: white;
  padding: 10px;
}

article {
  margin-bottom: 70px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.349);
  width: 250px;
}

#joke {
  margin: 50px;
}