@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.site-footer {
  background-color: #31333a;
  text-align: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  color: white;
}