* {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  background-color: blue;
}

footer {
  text-align: center;
  background-color: chartreuse;
}

aside {
  background-color: crimson;
}

nav {
  background-color: green;
}