body {
  margin: 0;
  background: rgb(220, 221, 224);
}

.container {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-bottom: 30px;
}